@model AutoLotDal.Models.Inventory

@{
    ViewBag.Title = "title";
    
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Id)
    @Html.HiddenFor(x=>x.Timestamp)
    @Html.ValidationSummary(true,"",new {@class = "text-danger"})
    <div class="form-actions no-color">
        <input type ="submit" value = "Delete" class = "btn btn-default"/>
        @Html.ActionLink("Back to List","Index")
    </div>
}
